@mixin flex-column {
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.container{
    @include flex-column;
    height: 400px;
    padding: 0px 52px;
}
.modal-buttons{
    display:flex;
    flex-direction: row;
    width: 260px;
    justify-content: space-between;
}
.modal-buttons button:nth-child(n){
    width:120px;
}